.layout-container {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.layout-card-container {
  width: 90%;
  height: 80%;
  font-family: 'Roboto';
}
